# Supabase session pooler connection for Prisma migrate dev
DATABASE_URL="postgresql://postgres.[projectref]:[password]@aws-1-[region].pooler.supabase.com:5432/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[projectref]:[password]@aws-1-[region].pooler.supabase.com:5432/postgres?pgbouncer=true"

NEXTAUTH_SECRET="random-string-panjang"
NEXTAUTH_URL="http://localhost:3000"
AUTH_TRUST_HOST=true

UPLOADTHING_TOKEN="isi="
UPLOADTHING_APP_ID="isi"

NEXT_PUBLIC_SUPABASE_URL="isi"
NEXT_PUBLIC_SUPABASE_ANON_KEY="isi"

# Gmail SMTP untuk Reset Password
GMAIL_EMAIL="gmail"
GMAIL_APP_PASSWORD="pw"

# Midtrans Configuration (Sandbox/Test Mode)
# Daftar di https://simulator.midtrans.com/ untuk mendapatkan keys
MIDTRANS_SERVER_KEY="isi"
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY="isi"
MIDTRANS_MERCHANT_ID="isi"